@if (ViewData.ModelState.ErrorCount > 0)
{
    <div style="padding-top: 15px;"></div>

    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">x</button>
        <h3 id="ReturnMsg" style="padding-top: 20px;">Ops Something got wrong</h3>
        <div sytle="padding-top: 20px" asp-validation-summary="ModelOnly" class="text-danger"></div>
    </div>
}